/JollyJumpers.class
/IdCodes.class
/Newspaper.class
/MostPotentCorner.class
/BrokenKeyboard.class
/SpiralTap.class
/Rails.class
/HardwoodSpecies.class
/Argus.class
/Argus$Instruction.class
/Argus$1.class
/Argus$2.class
/Instruction.class
/LemingsBattle.class
/LemingsBattle$1.class
